
/* Variables */
:root {
  --primary-color: #1eedbe;
  --secondary-color: #72f2cc;
  --background-color: #121212;
  --text-color: #f1f1f1;
  --txt-bk-color: #b3b3b3;
}

/*Text, titles font/color/style*/
.header {
  position: sticky;
  top: 0;
  z-index: 1000; /*to make sure it stays on top of everything*/
  padding: 5px;
  text-align: center;
  background: #333;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

.bottominfo {
  padding: 10px;
    background-color: purple;
    text-align: center;
    color: white;
    text-decoration: none;
    bottom:0;  /*keep it at the bottom of the page*/
}
.bottominfo a {
  color: white;
  text-decoration: none;
}

.bottominfo a:hover {
  color: white;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #121212;
}
p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #121212;
}

/* Style the top navigation bar */
.navbar {
  
  padding: 5px;
  display: flex;
  background-color: #333;
  justify-content: center;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover { /* Change color on hover */
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  text-decoration: underline; /*Creates a simple underline.*/
  font-weight: bold; /*Makes the text visually heavier*/
  border-bottom: 3px solid purple; /* A thick orange line */
  padding-bottom: 5px;             /* Adds space between text and line */
}


/*cards fratures*/
.grid {
  display: grid;
  gap: 20px 20px;
  /*grid-template-columns: auto auto auto; removed because it needs to vary based on the device*/ 
  padding: 10px;    
}

/*to make the grid change size based on teh device*/
@media only screen and (max-width: 600px) { /*phone*/
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 600px) { /*tablet*/
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) { /*laptop*/
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
}


/*interactive buttons "view more"*/
button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

button:hover {
  background-color: indigo;color: white;
  /* Increase the size by 10% (1.1) when hovered */
  transform: scale(1.1); 

}

.card:hover {
  background-color: #FFF0F5 ;
  /* Lift the element 5 pixels up (negative Y value) */
  transform: translateY(-5px); 
    
  /* Make the shadow larger and darker to emphasize the lift */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  
}

img {
  /* Set negative margins equal to the card's padding */
  margin-top: -10px; 
  margin-left: -10px;
  margin-right: -10px;
  height: auto;
  /* The width should be the full width of the padded card */
  width: calc(100% + 20px); /* 100% + (20px left + 20px right) */
  /* Ensure the top corners remain rounded to match the card */
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;
}