h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
}
p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
}

main{
  text-align: center;
}

/*interactive buttons "view more"*/
button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

button:hover {
  background-color: indigo;color: white;
  /* Increase the size by 10% (1.1) when hovered */
  transform: scale(1.1); 

}

fieldset{
  width: 300px; 
  margin-left: auto;
  margin-right: auto;
}

