/* Music player controls */
.controls {
    grid-area: "controls";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;
    padding: 10px 0;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color .2s ease-out, .2s ease-out;
}

button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    animation: pulse 0.5s;
}

button i {
    font-size: 16px;
    vertical-align: middle;
    color: var(--background-color);
}

#frbk {
    background-color: transparent;
}

#frbk:hover {
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(1.05);
}

#frbk i {
    color: var(--txt-bk-color);
}

#frbk i:hover {
    color: var(--text-color);
}

@keyframes pulse {
    0% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Volume control */
#volume-icon {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    vertical-align: middle;
}

#volume input[type="range"] {
    grid-area: "volume";
    writing-mode: vertical-lr;
    direction: rtl;
    width: 90%;
    height: auto;

    outline: none;
}

.vol-ico {
    font-size: 20px;
    color: var(--txt-bk-color);
    margin: auto;
}

.volume input[type="range"] {

    writing-mode: vertical-lr;
    direction: rtl;
    width: 90%;
    height: auto;

    outline: none;
}

.volume:hover input[type="range"] {
    cursor: pointer;
}

#volume i {
    vertical-align: middle;
}

.music-sheets{
    display: inline-block;
}
.music-tracks{
    display: inline-block;
}

body{
    position: absolute;
    left: 0px;
    top: 0px;
   height: 100%;
   width: 100%;
   margin: 0;
   display: grid;
   gap:10px;
   grid-template: 
   "header"
   "content"
   "footer"; 
   grid-template-rows: 10% 85% 5%;
}

.main{
    grid-area: "content";
    display:grid;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 10px;
    grid-template: 
            "main-left-grid main-right-grid";
    grid-template-columns: 60% 40%; 
    /*grid-template-rows: calc(30%-10px) calc(70%-10px);*/
}
.main-left{
    grid-area: "main-left-grid";
    display:grid;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 10px;
    grid-template: 
            "empty"
            "music-list";
    grid-template-rows: 30% 70%;
}
.main-right{
    grid-area: "main-right-grid";
    display:grid;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 10px;
    grid-template: 
            "artpic"
            "the-music-player";
    grid-template-rows: 50% 50%;
}
.header{
    height: 100%;
    width: 100%;
    grid-area: "header";
    position: relative;
}

.bottominfo{
    grid-area: "footer";
    position: relative;
    width: 100%;
}

/* Music player styling */
.song-info{
    grid-area: "song-info";
    position:relative;
}
.album-art{
    grid-area: "artpic";
    position:relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 30px;
    background-color: rgb(77, 2, 77);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.song-list{
    grid-area: "music-list";
    position:relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px;
    background-color: rgb(77, 2, 77);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.player-class {
    color: #f1f1f1;
    grid-area: "the-music-player";
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: grid;
    grid-template:
        "empty1 song-info empty2"
        "empty progress-bar volume"
        "left controls right";
    grid-template-columns: 15% 70% 15%;
    gap: 0px;
    padding: 20px;
    background-color: rgb(77, 2, 77);
}
.progress-container {
    grid-area: "progress-bar";
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}
.progress-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#2e0183 0deg,
            #7a1ecf 0deg,
            #b3b3b3 0deg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.progress-circle:hover {
    background: conic-gradient(var(--primary-color) 0deg,
            var(--primary-color) 0deg,
            #b3b3b3 0deg);

}

.progress-circle::before {
    content: '';
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #121212;
    position: absolute;
}

.progress-text {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    color: #b3b3b3;
}

.track-art {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;

}

img {
    pointer-events: none;
    user-select: none;
}

.song-length {
    grid-area: "right";
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #b3b3b3;
}

/* Current time display */
#timeDisplay {
    grid-area: "left";
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: #b3b3b3;
}