h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #520019;
}

p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

/*cards fratures*/
.grid {
  display: grid;
  gap: 10px 10px;
  padding: 20px;
}

/*to make the grid change size based on the device*/
@media only screen and (max-width: 600px) { /*phone*/
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 600px) { /*tablet*/
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) { /*laptop*/
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
    max-width: 280px;
  background-color: #f1f1f1;
      padding: 10px;
  font-size: 10px;
  text-align: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
}

.card:hover {
  background-color: #FFF0F5 ; /* Lift element */
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*shadow*/
}

.cardtext{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #121212;
  font-weight: bold;
}

/*interactive buttons*/
button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

button:hover {
  background-color: indigo;color: white;
  transform: scale(1.1); /* Increase the size when hovered */
}

/*image on card*/
img {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  height:200px;
    object-fit: cover;
    max-width: 300px;
  width: calc(100% + 20px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
