main {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: #520019;
}

p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

ul {
    list-style: square;
}

.label {
  font-weight: bold;
  font-size: 20px;
  color: #520019;
  text-align: left;
}

.value {
  color: #784848;
  font-size: 20px;
}

.info-row {
  display: flex;
  justify-content: flex-start;
  gap: 30px;     /* space between label and value */
  margin: 20px 0; /* space between info rows */
}

/*cards fratures*/
.grid {
  display: grid;
  gap: 20px 20px;
  padding: 50px;
}

/*to make the grid change size based on the device*/
@media only screen and (max-width: 600px) { /*phone*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 600px) { /*tablet*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) { /*laptop*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color: #e6d1e3;
  max-width: 700px;   /* prevents it from stretching too wide */
  margin: auto;     /* centers the card inside the grid */
  padding: 20px 50px;  /* this padding is necessary to have the text in the card nicely centered */
  font-size: 10px;
  text-align: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
}

/*interactive button "save"*/
button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

button:hover {
  background-color: indigo;color: white;
  transform: scale(1.1);   /* Increase size*/
}

/* profile picture */
.artistimage {
  width: 160px;
  height: 160px;
  object-fit: cover;   /* keeps image from stretching */
  border-radius: 50%;  /* makes it circular */
  border: 3px solid #784848; /* imge border */
  text-align: right;
}
