/*whole page grid structure*/
.main{
    display:grid;
    gap: 0.5%;
    grid-template:
            "main-left-grid main-right-grid";
    grid-template-columns: 59.5% 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-left{
    grid-area: "main-left-grid";
    display:grid;
    position: relative;
    gap: 10px;
    grid-template:
            "title-part"
            "music-list";
    grid-template-rows: 40% 60%;
}
.main-right{
    grid-area: "main-right-grid";
    display:grid;
    position: relative;
    gap: 10px;
    grid-template:
            "artpic"
            "the-music-player";
    grid-template-rows: 40% 60%;
}

/*main-left structure*/
/*top left*/
.hero-image {
    grid-area: "title-part";
    position: absolute;
    background-image: url("musicimage.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    font-size: 30px;
    text-align: center;
    top: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    color: #181818;
}

/*bottom left*/
/*scrollbar*/
.scrollable {
    height: 90%;
    overflow-y: auto;
}

/* width */
.scrollable::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: hsl(300, 48%, 51%);
  border-radius: 10px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: hsl(300, 46%, 43%);
}

.song-list{
    grid-area: "music-list";
    position:relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(77, 2, 77);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
    display: grid;
    padding: 5px;
    grid-template:
            "title"
            "cards";
    grid-template-rows: 15% 85%;
}

.cards-grid{
    position: relative;
    display: grid;
    gap: 20px 20px;
    padding: 10px;
    margin-right: 10px;
}
/*cards fratures*/
.card {
    display: flex;
    background-color: #f1f1f1;
    font-size: 16px;
    padding: 4px;
    color: black;
    text-align: center;
    border-radius: 25px; /*add rounded corners*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
}

.card:hover {
    background-color: #FFF0F5 ; /* Lift element */
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*shadow*/
}


/*main-right structure*/
/*top right*/
.album-art{
    grid-area: "artpic";
    position:relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 30px;
    background-color: rgb(77, 2, 77);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox for album-pic*/
    justify-content: center;
    align-items: center;
}
.album-pic{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%; /* same width as album-art */
    height: 100%; /* same height as album-art */
    object-fit: cover;
}

/*bottom right*/
/* Music player controls */
.controls {
    grid-area: "controls";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;
    padding: 10px 0;
}

button {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color .2s ease-out, .2s ease-out;
}

button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    animation: pulse 0.5s;
}

button i {
    font-size: 16px;
    vertical-align: middle;
    color: var(--background-color);
}

#frbk {
    background-color: transparent;
}

#frbk:hover {
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(1.05);
}

#frbk i {
    color: var(--txt-bk-color);
}

#frbk i:hover {
    color: var(--text-color);
}

@keyframes pulse {
    0% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Volume control */
#volume-icon {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    vertical-align: middle;
}

#volume input[type="range"] {
    grid-area: "volume";
    writing-mode: vertical-lr;
    direction: rtl;
    width: 90%;
    height: auto;

    outline: none;
}

.vol-ico {
    font-size: 20px;
    color: var(--txt-bk-color);
    margin: auto;
}

.volume input[type="range"] {

    writing-mode: vertical-lr;
    direction: rtl;
    width: 90%;
    height: auto;

    outline: none;
}

.volume:hover input[type="range"] {
    cursor: pointer;
}

#volume i {
    vertical-align: middle;
}

.music-sheets{
    display: inline-block;
}
.music-tracks{
    display: inline-block;
}

/* Current time display */
#timeDisplay {
    grid-area: "left";
    position: relative;
    text-align: right;
    font-size: 14px;
    color: #b3b3b3;
}

/*player*/
.player-class {
    color: #f1f1f1;
    grid-area: "the-music-player";
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: grid;
    grid-template:
        "empty1 song-info empty2"
        "empty progress-bar volume"
        "left controls right";
    grid-template-columns: 15% 70% 15%;
    gap: 0px;
    padding: 20px;
    background-color: rgb(77, 2, 77);
}

.progress-container {
    grid-area: "progress-bar";
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

.progress-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#2e0183 0deg,
            #7a1ecf 0deg,
            #b3b3b3 0deg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.progress-circle:hover {
    background: conic-gradient(var(--primary-color) 0deg,
            var(--primary-color) 0deg,
            #b3b3b3 0deg);

}

.progress-circle::before {
    content: '';
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #121212;
    position: absolute;
}

.progress-text {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    color: #b3b3b3;
}

.track-art {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

img {
    pointer-events: none;
    user-select: none;
}

.song-length {
    grid-area: "right";
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #b3b3b3;
}

.song-info{
    grid-area: "song-info";
    position:relative;
}
