/* Making the card that contains the email+pass pretty */
.card {
  background-color: var(--card-bg-color);
  padding: 50px;
  font-size: 10px;
  text-align: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
  max-width: 350px;  
  max-height: 125px; 
  margin: 0 auto;    
  display: flex;            /* make content side-by-side */
  align-items: flex-start;  /* keeps items on top */
  justify-content: center; /* center horizontally */
  gap: 20px;          
}

/* left section (text) */
.card-info {
  flex: 1;  /* let the text area take remaining space */
  text-align: left;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;     /* space between label and value */
  margin-bottom: 30px; /* space between info rows  */
}

.label {
  width: 120px; /* fixed width to align all input boxes */
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  color: var(--text-dark-color);
}


input {
  width: 200px; 
  border: 2px solid var(--background-color); /* a nice border */
  background-color: var(--txt-box-bg-color); /* a nice background */
  padding: 8px 12px; /* internal spacing */
  border-radius: 8px; /* rounded corners */
  outline: none; /* removes outline when typing - is prettier */
  color: var(--text-dark-color); /* color of the text the user writes */
  font-size: 20px;
}

input:hover {
  border-color: var(--secondary-color);/* makes border of input box stronger when hovering - pretty */
}

/* After clicking (when inputting value) */
input:focus {
  background-color: #fff;  /* brighten background - makes it more highlighted*/
  border-color: var(--secondary-color);  /* deeper border - pretty*/
}