h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #520019;
}

p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

main{
  text-align: center;
}

form {
  display: inline-grid;
  grid-row-gap: 16px;
}

/*grid*/
.grid {
  display: grid;
}

.tracks {
  grid-row-gap: 5px;
}

.inputs {
  grid-row-gap: 5px;
}

.invalid-feedback {
  color: #dc3545;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback{
  display: none;
}

/*interactive button*/
.submitbutton {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

.submitbutton:hover {
  background-color: indigo;color: white;
  transform: scale(1.1);   /* Increase size*/
}

/*fieldset input and lable*/
fieldset{
  border: 1px solid purple;
}

.inputFrom{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  /*@include font-size(1rem);*/
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none; /*Fix appearance for date inputs in Safari*/
  background-color: #fff;
  background-clip: padding-box;
  /*border: $input-border-width solid $input-border-color;

  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);*/

  &[type="file"] {
      overflow: hidden; /*prevent pseudo element button overlap*/

  &:not(:disabled):not([readonly]) {
      cursor: pointer;
  }
  }
}  

input {
  border: 1px solid purple;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}

textarea {
  border: 1px solid purple;
  border-radius: 4px;
  min-width: 350px;
  min-height: 25px;
}