
/* profile card container */
.card {
  background-color: var(--card-bg-color);
  padding: 70px;
  font-size: 10px;
  text-align: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
  max-width: 600px;   
  margin: 0 auto;    
  display: flex;        /* make content side-by-side */
  align-items: flex-start;   /* keeps items on top */
  justify-content: space-between; 
  gap: 20px;          
}

/* left section (text) */
.card-info {
  flex: 1;  /* let the text area take remaining space */
  text-align: left;
}

/* profile picture */
.profile-image {
  width: 160px;
  height: 160px;
  object-fit: cover;   /* keeps image from stretching */
  border-radius: 50%;  /* makes it circular */
  border: 3px solid var(--secondary-color); /* imge border */
  margin-left: 36%;
}

.info-row {
  display: flex;
  justify-content: flex-start;
  gap: 30px;     /* space between label and value */
  margin: 20px 0; /* space between info rows */
}

.label {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-dark-color);
}

.value {
  color: var(--text-dark-color);
  font-size: 20px;
}


