h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #520019;
}

p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

/*cards fratures*/
.grid {
  display: grid;
  gap: 20px 20px;
  padding: 15px;    
}

/*to make the grid change size based on the device*/
@media only screen and (max-width: 600px) { /*phone*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 600px) { /*tablet*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) { /*laptop*/
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex; 
  gap: 15px;
  background-color: #f1f1f1;
  justify-content: center; 
  font-size: 10px;
  align-items: center;
  border-radius: 25px; /*add rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*shadow*/
  margin-bottom: 20px;
}

.card:hover {
  background-color: #FFF0F5 ;
  transform: translateY(-5px); /*lift*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*shodow*/
}

.cardtext{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
}

/*interactive buttons "view more"*/
button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /*add rounded corners*/
}

button:hover {
  background-color: indigo;color: white;
  transform: scale(1.1); /*increase size*/
}

img {
  margin-top: -10px; 
  margin-left: -10px;
  margin-right: -10px;
  height: auto;
  width: calc(100% + 20px); 
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;
}

fieldset{
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

legend{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
